body {
  background-color: #EAF6F6;
}
hr {
  border-style: none;
  border-top: dotted;
  width: 5%;
  border-color: grey;
  border-width: 5px;
}
h1 {
  color: #4D96FF;
  text-decoration:underline;
}
h3 {
  color: #4D96FF;
}
